<!DOCTYPE html>
<html ng-app="LeagueTournamentTracker">
<head>
    <title></title>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="services.js"></script>
    <script type="text/javascript" src="treant/vendor/jquery.min.js"></script>
    <script src="treant/vendor/raphael.js"></script>
    <script src="treant/Treant.min.js"></script>


    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="treant/Treant.css" type="text/css">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                <img src="Logo_small.png" alt="LOLTT Logo" title="Home">
                </a>
                <h1 class="navbar-text">League of Legends Tournament Tracker</h1>
            </div>


            

            <form role="form" name="login" class="navbar-form navbar-right" ng-submit="login.$valid && loginUser()" novalidate>
                <input type="text" class="form-control" ng-model="username" placeholder="Username" required>
                <input type="password" class="form-control" ng-model="password" placeholder="Password" required>
                <input type="submit" value="Login" class="btn btn-default">
                <button class="btn btn-default" ng-click="redirectToRegister();">Register</button>
            </form>

            <div class="navbar-right">
                <div class="alert alert-danger" role="alert" ng-show="isFailure()">
                    Incorrect login. Please check username and password.
                </div>

                <div class="alert alert-success" role="alert" ng-show="isSuccessful()">
                    You have successfully logged in!
                </div>
            </div>
        </div>
    </nav>

    <ng-view></ng-view>

</body>
</html>